[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
moviepy = "*"
numpy = "<2"
transformers = "*"
django-compression-middleware = "*"
channels = "*"
daphne = "*"
uvicorn = "*"
twisted = {extras = ["http2", "tls"], version = "==22.8.0"}

[dev-packages]

[requires]
python_version = "3.10"
