[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
anyio = "*"
asgiref = "*"
attrs = "*"
autobahn = "*"
automat = "*"
beautifulsoup4 = "*"
bleach = "*"
certifi = "*"
cffi = "*"
channels = "*"
chardet = "*"
charset-normalizer = "*"
colorama = "*"
constantly = "*"
contourpy = "*"
cramjam = "*"
cryptography = "*"
cycler = "*"
daphne = "*"
django = "*"
django-cors-headers = "*"
djangorestframework = "*"
dnspython = "*"
exceptiongroup = "*"
faiss-cpu = "*"
filelock = "*"
fonttools = "*"
fsspec = "*"
ftfy = "*"
h11 = "*"
h2 = "*"
hpack = "*"
hstspreload = "*"
httpcore = "*"
httpx = "*"
huggingface-hub = "*"
hyperframe = "*"
hyperlink = "*"
idna = "*"
incremental = "*"
jinja2 = "*"
kiwisolver = "*"
markupsafe = "*"
matplotlib = "*"
mpmath = "*"
networkx = "*"
numpy = "*"
open-clip-torch = "*"
opencv-python = "*"
packaging = "*"
pillow = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pycparser = "*"
pymongo = "*"
pyopenssl = "*"
pyparsing = "*"
python-dateutil = "*"
python-slugify = "*"
python-snappy = "*"
pyyaml = "*"
regex = "*"
requests = "*"
rfc3986 = "*"
safetensors = "*"
service-identity = "*"
six = "*"
sniffio = "*"
soupsieve = "*"
sqlparse = "*"
sympy = "*"
text-unidecode = "*"
timm = "*"
tokenizers = "*"
tomli = "*"
torch = "*"
torchvision = "*"
tqdm = "*"
transformers = "*"
txaio = "*"
typing-extensions = "*"
tzdata = "*"
urllib3 = "*"
wcwidth = "*"
webencodings = "*"
winkerberos = "*"
zope-interface = "*"
twisted = {extras = ["tls"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
