<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <title>Primary AI - MVRS</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/handleFrame.css">
    <link rel="stylesheet" href="../css/handleSingleFrameResult.css">
    <link rel="stylesheet" href="../css/handleRelevanceFeedback.css"> 
    <link rel="stylesheet" href="../css/handleColorFeature.css">
    <link rel="stylesheet" href="../css/loading.css">
    <link rel="stylesheet" href="../css/handleQuery.css">
    <link rel="stylesheet" href="../css/handleFilter.css">
</head>
<body>
    <div id="container">
        <div id="tool-bar">
            <div id="logo-container"></div>
            <div class="label-container">
                <p class="h1-text">Query</p>
                <div id="proportion-container">
                    <span class="normal-text">Bert</span>
                    <input id="bert-proportion" class="show-proportion normal-text" type="number" min="0" max="100" step="1" value="0" />
                    <input id="proportion" class="normal-text" name="proportion" type="range" value="0" />
                    <input id="clip-proportion" class="show-proportion normal-text" type="number" min="0" max="100" step="1" value="100" />
                    <span class="normal-text">Clip</span>
                </div>
                <img id="query-visibility-icon" class="visibility-icon" src="../assets/icon/down.png" />
            </div>
            <div id="query-container">
                <div id="text-query-container">
                    <input id="text-query" class="normal-text input-query" name="text-query" type="text" placeholder="Textual KIS Search" />
                </div>
                <div id="limit-query-container">
                    <input id="limit-query" class="normal-text input-query" name="limit-query" type="number" min=0 placeholder="Top K" />
                </div>
                <div id="submit-container" class="submit-container">
                    <button id="submit-btn" class="submit-btn normal-text">Submit</button>
                </div>
                <div id="text-ranking-query-container">
                    <input id="text-ranking-query" class="normal-text input-query" name="text-ranking-query" type="text" placeholder="Textual Re-Ranking" />
                </div>
                <div id="limit-ranking-query-container">
                    <input id="limit-ranking-query" class="normal-text input-query" name="limit-query" type="number" min=0 placeholder="Top K" />
                </div>
                <div id="submit-ranking-container" class="submit-container">
                    <button id="submit-ranking-btn" class="submit-btn normal-text">Submit</button>
                </div>
            </div>
            <div id="relevance-container">
                <div id="text-relevance-container">
                    <input id="text-relevance" class="normal-text input-query" name="text-relevance" type="text" placeholder="Textual Relevance Feedback" />
                </div>
                <div id="image-relevance-container">
                    <div id="image-relevance" class="normal-text input-query">
                        <span id="image-relevance-placeholder">Image Relevance Feedback</span>
                    </div>
                </div>
                <div id="proportion-relevance-container">
                    <span class="normal-text">Text</span>
                    <input id="text-relevance-proportion" class="show-relevance-proportion normal-text" type="number" min="0" max="100" step="1" value="55" />
                    <input id="proportion-relevance" class="normal-text" name="proportion-relevance" type="range" value="55" />
                    <input id="image-relevance-proportion" class="show-relevance-proportion normal-text" type="number" min="0" max="100" step="1" value="45" />
                    <span class="normal-text">Image</span>
                </div>
                <div id="limit-relevance-container">
                    <input id="limit-relevance" class="normal-text input-query" name="limit-relevance" type="number" min=0 placeholder="Top K" />
                </div>
                <div id="submit-container" class="submit-container">
                    <button id="relevance-submit-btn" class="submit-btn normal-text">Submit</button>
                </div>
            </div>
            <div class="label-container" id="filter-label-container">
                <p class="h1-text">Filter</p>
                <img id="filter-visibility-icon" class="visibility-icon" src="../assets/icon/down.png" />
            </div>
            <div id="filter-container">
                <div id="ocr-filter-container">
                    <div id="ocr-search-bar-container" class="search-bar-container">
                        <input id="ocr-filter" class="normal-text input-query" name="ocr-filter" type="text" placeholder="OCR" />
                        <img id="ocr-filter-clear" class="filter-submit" src="../assets/icon/clear.png" />
                        <img id="ocr-filter-submit" class="filter-submit" src="../assets/icon/filter.png" />
                        <span class="filter-badge normal-text">Q</span>
                        <img id="ocr-relevance-filter-submit" class="relevance-filter-submit" src="../assets/icon/filter.png" />
                        <span class="filter-badge normal-text">R</span>
                        <img id="ocr-all-filter-submit" class="all-filter-submit" src="../assets/icon/filter.png" />
                        <span class="filter-badge normal-text">A</span>
                    </div>
                    <div id="ocr-filter-list" class="normal-text filter-list scroll-box"></div>
                </div>
                <div id="obj-filter-container">
                    <div id="obj-search-bar-container" class="search-bar-container">
                        <input id="obj-filter" class="normal-text input-query" name="obj-filter" type="text" placeholder="Object Detection" />
                        <img id="obj-filter-only" class="filter-submit" src="../assets/icon/click.png" />
                        <img id="obj-filter-clear" class="filter-submit" src="../assets/icon/clear.png" />
                        <img id="obj-filter-submit" class="filter-submit" src="../assets/icon/filter.png" />
                        <span class="filter-badge normal-text">Q</span>
                        <img id="obj-relevance-filter-submit" class="relevance-filter-submit" src="../assets/icon/filter.png" />
                        <span class="filter-badge normal-text">R</span>
                        <img id="obj-all-filter-submit" class="all-filter-submit" src="../assets/icon/filter.png" />
                        <span class="filter-badge normal-text">A</span>
                    </div>
                    <div id="obj-filter-list" class="normal-text filter-list scroll-box"></div>
                    <div id="obj-filter-color" class="normal-text" style="display: none;">
                        <div id="obj-filter-color-cancel" class="h2-text">
                            Color
                            <img id="obj-filter-color-cancel-icon" src="../assets/icon/cancel.png" />
                        </div>
                        <div id="obj-filter-color-wrapper">
                        </div>
                    </div>
                </div>
                <div id="color-filter-container">
                    <div id="color-search-bar-container" class="search-bar-container">
                        <input id="color-filter" class="normal-text input-query" name="color-filter" type="text" placeholder="Color Feature" />
                        <img id="color-filter-clear" class="filter-submit" src="../assets/icon/clear.png" />
                        <img id="color-filter-submit" class="filter-submit" src="../assets/icon/filter.png" />
                        <span class="filter-badge normal-text">Q</span>
                        <img id="color-relevance-filter-submit" class="relevance-filter-submit" src="../assets/icon/filter.png" />
                        <span class="filter-badge normal-text">R</span>
                        <img id="color-all-filter-submit" class="all-filter-submit" src="../assets/icon/filter.png" />
                        <span class="filter-badge normal-text">A</span>
                    </div>
                    <div id="color-filter-list" class="normal-text filter-list scroll-box">
                    </div>
                </div>
                <div id="space-filter-container">
                    <div id="space-search-bar-container" class="search-bar-container">
                        <input id="space-filter" class="normal-text input-query" name="space-filter" type="text" placeholder="Visual Space Recognition" />
                        <img id="space-filter-only" class="filter-submit" src="../assets/icon/click.png" />
                        <img id="space-filter-clear" class="filter-submit" src="../assets/icon/clear.png" />
                        <img id="space-filter-submit" class="filter-submit" src="../assets/icon/filter.png" />
                        <span class="filter-badge normal-text">Q</span>
                        <img id="space-relevance-filter-submit" class="relevance-filter-submit" src="../assets/icon/filter.png" />
                        <span class="filter-badge normal-text">R</span>
                        <img id="space-all-filter-submit" class="all-filter-submit" src="../assets/icon/filter.png" />
                        <span class="filter-badge normal-text">A</span>
                    </div>
                    <div id="space-filter-list" class="normal-text filter-list scroll-box"></div>
                </div>
                <div id="summary-filter-container">
                    <div id="summary-search-bar-container" class="search-bar-container">
                        <input id="summary-filter" class="normal-text input-query" name="summary-filter" type="text" placeholder="Summary" />
                        <img id="summary-filter-only" class="filter-submit" src="../assets/icon/click.png" />
                        <img id="summary-filter-clear" class="filter-submit" src="../assets/icon/clear.png" />
                        <img id="summary-filter-submit" class="filter-submit" src="../assets/icon/filter.png" />
                        <span class="filter-badge normal-text">Q</span>
                        <img id="summary-relevance-filter-submit" class="relevance-filter-submit" src="../assets/icon/filter.png" />
                        <span class="filter-badge normal-text">R</span>
                        <img id="summary-all-filter-submit" class="all-filter-submit" src="../assets/icon/filter.png" />
                        <span class="filter-badge normal-text">A</span>
                    </div>
                    <div id="summary-filter-list" class="normal-text filter-list scroll-box"></div>
                </div>
            </div>
        </div>
        <div id="multiple-results">
            <div id="frame-list-container">
            </div>
        </div>
        <div id="single-result" class="scroll-box" style="display: none;">
            <div id="single-result-icon-container">
                <img id="single-result-cancel" src="../assets/icon/cancel.png" />
            </div>
            <div id="single-frame-container">
                <div id="single-frame-wrapper">
                    <video id="single-video"></video>
                    <span id="single-frame-id" class="h3-text"></span>
                    <span id="single-position" class="single-position h3-text"></span>
                </div>
            </div>
            <div id="single-frame-tool">
                <img id="single-frame-rewind" src="../assets/icon/rewind.png" />
                <img id="single-frame-play" src="../assets/icon/play.png" />
                <img id="single-frame-fastfoward" src="../assets/icon/fastforward.png" />
            </div>
            <div id="single-frame-info-container">
                <div class="single-frame-info-sub-container">
                    <div class="label-container">
                        <p class="h1-text">OCR</p>
                    </div>
                    <div id="single-frame-ocr" class="normal-text scroll-box"></div>
                </div>
                <div class="single-frame-info-sub-container">
                    <div class="label-container">
                        <p class="h1-text">Object Detection</p>
                    </div>
                    <div id="single-frame-obj" class="normal-text scroll-box"></div>
                </div>
                <div class="single-frame-info-sub-container">
                    <div class="label-container">
                        <p class="h1-text">Color Feature</p>
                    </div>
                    <div id="single-frame-color" class="normal-text scroll-box"></div>
                </div>
                <div class="single-frame-info-sub-container">
                    <div class="label-container">
                        <p class="h1-text">Visual Space Recognition</p>
                    </div>
                    <div id="single-frame-space" class="normal-text scroll-box"></div>
                </div>
                <div class="single-frame-info-sub-container">
                    <div class="label-container">
                        <p class="h1-text">Summary</p>
                    </div>
                    <div id="single-frame-summary" class="normal-text scroll-box"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="relevance-result-container" style="display: none;">
        <div id="relevance-icon-container">
            <img id="relevance-icon" src="../assets/icon/right arrow.png" />
        </div>
        <div id="relevance-multiple-results-container">
            <div id="relevance-frame-list-container"></div>
        </div>
    </div>

    <div id="loading-container">
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>

    <script async src="../js/index.js"></script>
    <script async src="../js/handleOCR.js" type="module"></script>
    <script async src="../js/handleObjectDetection.js" type="module"></script>
    <script async src="../js/handleFrame.js" type="module"></script>
    <script async src="../../Src/handleQuery.js" type="module"></script>
    <script async src="../../Src/handleObjectDetectionFilter.js" type="module"></script>
    <script async src="../../Src/handleOCRFilter.js" type="module"></script>
    <script async src="../js/handleRelevance.js" type="module"></script>
    <script async src="../../Src/handleRelevanceFeedback.js" type="module"></script>
    <script async src="../../Src/handleReranking.js" type="module"></script>
    <script async src="../js/handleColorFeature.js" type="module"></script>
    <script async src="../../Src/handleColorFeature.js" type="module"></script>
    <script async src="../js/handleLoading.js" type="module"></script>
    <script async src="../js/handleSpaceRecognition.js" type="module"></script>
    <script async src="../../Src/handleSpaceRecognition.js" type="module"></script>
    <script async src="../js/handleSummary.js" type="module"></script>
    <script async src="../../Src/handleSummary.js" type="module"></script>
    <script async src="../../Src/handleImage.js" type="module"></script>
    <script async src="../js/handleQuery.js" type="module"></script>
</body>
</html>