<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <title>Primary AI - MVRS</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/handleFrame.css">
    <link rel="stylesheet" href="../css/handleSingleFrameResult.css">
</head>
<body>
    <div id="container">
        <div id="tool-bar">
            <div id="logo-container"></div>
            <div class="label-container">
                <p class="h1-text">Query</p>
                <img id="query-visibility-icon" class="visibility-icon" src="../assets/icon/down.png" />
            </div>
            <div id="query-container">
                <div id="text-query-container">
                    <input id="text-query" class="normal-text" name="text-query" type="text" placeholder="Textual KIS Search" />
                </div>
                <div id="limit-query-container">
                    <input id="limit-query" class="normal-text" name="limit-query" type="number" min=0 placeholder="Top K" />
                </div>
                <div id="submit-container">
                    <button id="submit-btn" class="normal-text">Submit</button>
                </div>
            </div>
            <div class="label-container" id="filter-label-container">
                <p class="h1-text">Filter</p>
                <img id="filter-visibility-icon" class="visibility-icon" src="../assets/icon/down.png" />
            </div>
            <div id="filter-container">
                <div id="ocr-filter-container">
                    <div id="ocr-search-bar-container">
                        <input id="ocr-filter" class="normal-text" name="ocr-filter" type="text" placeholder="Optical Character Recognition" />
                        <img id="ocr-filter-clear" src="../assets/icon/clear.png" />
                        <img id="ocr-filter-submit" src="../assets/icon/filter.png" />
                    </div>
                    <div id="ocr-filter-list" class="normal-text scroll-box"></div>
                </div>
                <div id="obj-filter-container">
                    <div id="obj-search-bar-container">
                        <input id="obj-filter" class="normal-text" name="obj-filter" type="text" placeholder="Object Detection" />
                        <img id="obj-filter-only" src="../assets/icon/click.png" />
                        <img id="obj-filter-clear" src="../assets/icon/clear.png" />
                        <img id="obj-filter-submit" src="../assets/icon/filter.png" />
                    </div>
                    <div id="obj-filter-list" class="normal-text scroll-box"></div>
                </div>
                <div id="color-filter-container">
                    <input id="color-filter" class="normal-text" name="color-filter" type="text" placeholder="Color Feature" />
                    <div id="color-filter-list" class="normal-text scroll-box"></div>
                </div>
                <div id="space-filter-container">
                    <input id="space-filter" class="normal-text" name="space-filter" type="text" placeholder="Visual Space Recognition" />
                    <div id="space-filter-list" class="normal-text scroll-box"></div>
                </div>
            </div>
        </div>
        <div id="multiple-results">
            <div id="frame-list-container">
            </div>
        </div>
        <div id="single-result" style="display: none;">
            <div id="single-result-icon-container">
                <img id="single-result-cancel" src="../assets/icon/cancel.png" />
            </div>
            <div id="single-frame-container"></div>
            <div id="single-frame-info-container">
                <div class="single-frame-info-sub-container">
                    <div class="label-container">
                        <p class="h1-text">Id</p>
                    </div>
                    <div id="single-frame-id" class="h3-text"></div>
                </div>
                <div class="single-frame-info-sub-container">
                    <div class="label-container">
                        <p class="h1-text">OCR</p>
                    </div>
                    <div id="single-frame-ocr" class="h3-text"></div>
                </div>
                <div class="single-frame-info-sub-container">
                    <div class="label-container">
                        <p class="h1-text">Object Detection</p>
                    </div>
                    <div id="single-frame-obj" class="h3-text"></div>
                </div>
                <div class="single-frame-info-sub-container">
                    <div class="label-container">
                        <p class="h1-text">Color Feature</p>
                    </div>
                    <div id="single-frame-color" class="h3-text"></div>
                </div>
                <div class="single-frame-info-sub-container">
                    <div class="label-container">
                        <p class="h1-text">Visual Space Recognition</p>
                    </div>
                    <div id="single-frame-space" class="h3-text"></div>
                </div>
            </div>
        </div>
    </div>

    <script async src="../js/index.js"></script>
    <script async src="../js/handleOCR.js"></script>
    <script async src="../js/handleObjectDetection.js" type="module"></script>
    <script async src="../js/handleFrame.js" type="module"></script>
    <script async src="../../Src/handleQuery.js" type="module"></script>
    <script async src="../../Src/handleObjectDetectionFilter.js" type="module"></script>
</body>
</html>