#single-result {
    position: fixed;
    background-color: var(--background-color-1);
    width: 1400px;
    border-radius: var(--normal-border-radius);
    padding: 34px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 199;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#single-frame-info-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: var(--margin-normal);
}
.single-frame-info-sub-container {
    width: 18%;
}
#single-frame-container {
    display: flex;
    justify-content: center;
}
#single-video {
    width: 50vw;
    border: 2px solid var(--primary-color-2);
    border-radius: var(--light-border-radius);
}
#single-result-icon-container {
    display: flex;
}
#single-result-cancel {
    width: 24px;
    margin-left: auto;
    cursor: pointer;
}
#single-frame-id {
    max-height: 100px;
}
#single-frame-obj {
    display: grid;
    grid-template-columns: auto auto;
    max-height: 100px;
}
.single-frame-obj-item {
    margin-bottom: 4px;
}

#single-frame-color {
    display: grid;
    grid-template-columns: auto auto;
    max-height: 100px;
}
.single-frame-color-item {
    margin-bottom: 4px;
}

#single-frame-space {
    display: grid;
    grid-template-columns: auto auto;
    max-height: 100px;
}
.single-frame-space-item {
    margin-bottom: 4px;
}

#single-frame-summary {
    display: grid;
    grid-template-columns: auto auto;
    max-height: 100px;
}
.single-frame-summary-item {
    margin-bottom: 4px;
}

#single-frame-ocr {
    max-height: 100px;
}

#single-frame-tool {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}

#single-frame-tool img {
    width: calc(var(--normal-font-size) + 16px);
    cursor: pointer;
}

#single-frame-play {
    margin-left: 8px;
    cursor: pointer;
}

#single-frame-fastfoward {
    margin-left: 8px;
    cursor: pointer;
}

#single-frame-rewind {
    cursor: pointer;
}

#single-position {
    background-color: var(--background-color-2);
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: var(--normal-border-radius);
}

#single-frame-id {
    background-color: var(--background-color-2);
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: var(--normal-border-radius);
}

#single-frame-wrapper {
    width: fit-content;
    position: relative;
}