#multiple-results {
    margin-top: var(--margin-normal);
    display: flex;
    align-items: center;
    justify-content: center;
}
#frame-list-container {
    display: grid;
    column-gap: 12px;
    row-gap: 12px;
    grid-template-columns: auto auto auto auto auto auto;
}
.frame-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}
.canvas-frame {
    width: 15vw;
    height: calc(15vw * 0.75);
    border: 2px solid var(--primary-color-2);
    border-radius: var(--light-border-radius);
}
.frame-info {
    position: absolute;
    left: 4px;
    top: 4px;
    background-color: var(--background-color-2);
    padding: 4px;
    border-radius: var(--light-border-radius);
    opacity: 50%;
}
.frame-container:hover .frame-info {
    opacity: 100%;
}

.frame-relevance-add {
    position: absolute;
    right: 4px;
    top: 4px;
    background-color: var(--background-color-2);
    border-radius: 50%;
    opacity: 50%;
    color: var(--primary-color-2);
    font-size: 24px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.frame-container:hover .frame-relevance-add {
    opacity: 100%;
}

#relevance-multiple-results-container {
    margin-top: var(--margin-normal);
}
#relevance-frame-list-container {
    display: grid;
    column-gap: 12px;
    row-gap: 12px;
    grid-template-columns: auto auto auto;
}