#single-result {
    position: fixed;
    background-color: var(--background-color-1);
    width: 1400px;
    border-radius: var(--normal-border-radius);
    padding: 34px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#single-frame-info-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: var(--margin-normal);
}
.single-frame-info-sub-container {
    width: 18%;
}
#single-frame-container {
    text-align: center;
}
.single-frame {
    width: 50vw;
    border: 2px solid var(--primary-color-2);
    border-radius: var(--light-border-radius);
}
#single-result-icon-container {
    display: flex;
}
#single-result-cancel {
    width: 24px;
    margin-left: auto;
    cursor: pointer;
}
#single-frame-obj {
    display: flex;
    flex-direction: column;
}
.single-frame-obj-item {
    margin-bottom: 4px;
}