#single-result {
    position: fixed;
    background-color: var(--background-color-1);
    width: 1200px;
    border-radius: var(--normal-border-radius);
    padding: 34px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}
#single-frame-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: var(--margin-normal);
}
#single-frame-container {
    text-align: center;
}
.single-frame {
    width: 50vw;
    border: 2px solid var(--primary-color-2);
    border-radius: var(--light-border-radius);
}
#single-result-icon-container {
    display: flex;
}
#single-result-cancel {
    width: 24px;
    margin-left: auto;
    cursor: pointer;
}