* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

    --normal-font-size: 12px;
    --head1-font-size: 18px;
    --head2-font-size: 16px;
    --head3-font-size: 14px;
    --title-font-size: 20px;

    --normal-font-weight: 500;
    --head1-font-weight: 700;
    --head2-font-weight: 600;
    --head3-font-weight: 500;
    --title-font-weight: 800;

    --background-color-1: #0B2447;
    --background-color-2: #19376D;
    --primary-color-1: #576CBC;
    --primary-color-2: #A5D7E8;

    --normal-border-radius: 15px;
    --light-border-radius: 10px;

    --padding-normal: 8px;
    --margin-normal: 12px;
}

.normal-text {
    font-size: var(--normal-font-size);
    font-weight: var(--normal-font-weight);
    color: var(--primary-color-2);
}

.h1-text {
    font-size: var(--head1-font-size);
    font-weight: var(--head1-font-weight);
    color: var(--primary-color-2);
}

.h2-text {
    font-size: var(--head2-font-size);
    font-weight: var(--head2-font-weight);
    color: var(--primary-color-2);
}

.h3-text {
    font-size: var(--head3-font-size);
    font-weight: var(--head3-font-weight);
    color: var(--primary-color-2);
}

html, body {
    height: 100%;
    position: relative;
}

#container {
    background-color: var(--background-color-1);
    position: relative;
    min-height: 100vh;
}

.label-container {
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#tool-bar {
    padding: 12px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--background-color-1);
}

.scroll-box {
    overflow-y: scroll;
    -ms-overflow-style: none;
}

.scroll-box::-webkit-scrollbar {
    display: none;
}